{% spaceless %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %} default description {% endblock %}">
        <meta name="keywords" content="{% block keywords %} default keywords {% endblock %}">
        <meta name="author" content="Martin Forejt;martinforejt.cz">
        <meta name="theme-color" content="#fff">
        <meta name="robots" content="index, follow">

        {% block main_stylesheets %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                  crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
                  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                  crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ res_css }}/style.css">
        {% endblock %}

        {% block head %}{% endblock %}

        <style>
            {% block style %}{% endblock %}
        </style>
    </head>
    <body>

    <div id="wrapper">
        <nav class="navbar fixed-top navbar-expand-lg">
            <a class="navbar-brand" href="{{ path('home') }}">Conf</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div id="nav-center">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('posts') }}">Příspěvky</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('about') }}">O konferenci</a>
                        </li>

                        {% if app.user %}
                            {% if app.user.author == 1 %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('my_posts') }}">Moje příspěvky</a>
                                </li>
                            {% endif %}
                            {% if app.user.reviewer == 1 %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('to_review') }}">K posouzení</a>
                                </li>
                            {% endif %}
                            {% if app.user.admin == 1 %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('posts_admin') }}">Příspěvky(admin)</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('users') }}">Uživatelé</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>

                </div>
                <div id="nav-right">
                    <ul class="navbar-nav mr-auto">
                        {% if not app.user %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('login') }}">Přihlásit</a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user mr-1"></i> {{ app.user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('settings') }}">Nastavení</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('logout') }}">Odhlásit</a>
                                </div>
                            </li>
                        {% endif %}

                    </ul>

                </div>
            </div>
        </nav>

        <div id="content" class="container-fluid">
            <div class="container mt-3">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            <button type="button" class="close" data-dismiss="alert"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            {{ message|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% block content %}
            {% endblock %}
        </div>

        <div class="block-light p-5"></div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="{{ path('posts') }}">Příspěvky</a><br>
                        <a href="{{ path('about') }}">O konferenci</a>
                    </div>
                    <div class="col">
                        {% if not app.user %}
                            <a href="{{ path('login') }}">Přihlásit</a><br>
                            <a href="{{ path('registration') }}">Registrovat</a>
                        {% else %}
                            <a href="{{ path('logout') }}">Odhlásit</a><br>
                            <a href="{{ path('settings') }}">Nastavení</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="footer-footer">
                &copy; Conf 2018
            </div>
        </footer>
    </div>

    {% block main_js %}
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
        <script src="{{ res_js }}/main.js"></script>
    {% endblock %}

    {% block other_js %}{% endblock %}

    </body>
    </html>
{% endspaceless %}