{% extends 'base.html.twig' %}
{% block title %}Správa příspěvků{% endblock %}
{% block content %}
    <div class="title">
        <div class="container pt-2">
            <h1>Správa příspěvků</h1>
        </div>
    </div>
    <div class="container">

        <h2 class="mb-4">Nepublikované</h2>
        <table class="table table-striped table-bordered table-no-c" id="admin-posts-table">
            <thead>
            <tr>
                <th class="text-center" rowspan="1">Název</th>
                <th>Recenzent</th>
                <th class="text-center admin-posts-review-detail">Orig.</th>
                <th class="text-center admin-posts-review-detail">Téma</th>
                <th class="text-center admin-posts-review-detail">Tech.</th>
                <th class="text-center admin-posts-review-detail">Jaz.</th>
                <th class="text-center">Celk.</th>
                <th class="text-center">Smazat</th>
                <th class="text-center" rowspan="1">Rozhodnutí</th>
            </tr>
            </thead>
            {% for post in unpublished %}
                {% set add_line = 0 %}
                {% for reviewer in reviewers %}
                    {% if reviewer.id not in post.reviewers|keys %}
                        {% set add_line = 1 %}
                    {% endif %}
                {% endfor %}
                <tbody>
                {% if post.ratings|length == 0 %}
                {% else %}
                    {% for key,rating in post.ratings %}
                        <tr title="{{ rating.comment }}">
                            {% if key == 0 %}
                                <td class="text-center align-middle" rowspan="{{ post.ratings|length + add_line }}"><a
                                            href="{{ path('posts_detail', {'id':post.id}) }}"><b>{{ post.title }}</b></a></td>
                            {% endif %}
                            <td>{{ rating.user.name }} {{ rating.user.surname }}</td>
                            <td class="text-center admin-posts-review-detail">{% if rating.originality != null %}{{ rating.originality }}{% else %}-{% endif %}</td>
                            <td class="text-center admin-posts-review-detail">{% if rating.topic != null %}{{ rating.topic }}{% else %}-{% endif %}</td>
                            <td class="text-center admin-posts-review-detail">{% if rating.technic != null %}{{ rating.technic }}{% else %}-{% endif %}</td>
                            <td class="text-center admin-posts-review-detail">{% if rating.lang != null %}{{ rating.lang }}{% else %}-{% endif %}</td>
                            <td class="text-center">{% if rating.myAverage != null %}{{ rating.myAverage }}{% else %}-{% endif %}</td>
                            <td class="text-center"><a
                                        href="{{ path('delete_review', {'post': post.id, 'reviewer': rating.user.id}) }}"><i
                                            class="fas fa-times"></i></a></td>
                            {% if key == 0 %}
                                <td class="align-middle text-center" rowspan="{{ post.ratings|length + add_line }}">
                                    <div class="mb-2">
                                        {% if post.canAccept %}
                                            <a class="btn btn-success"
                                               href="{{ path('accept_review', {'post': post.id}) }}">Přijmout</a>
                                        {% else %}
                                            <button class="btn btn-disable" disabled>Přijmout</button>
                                        {% endif %}
                                    </div>
                                    <div>
                                        <a class="btn btn-danger"
                                           href="{{ path('reject_review', {'post': post.id}) }}">Odmítnout</a>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}

                {% if add_line == 1 %}
                    <tr>
                        {% if post.ratings|length == 0 %}
                            <td class="text-center align-middle" rowspan="{{ post.ratings|length + add_line }}"><a
                                        href="{{ path('posts_detail', {'id':post.id}) }}"><b>{{ post.title }}</b></a></td>
                        {% endif %}
                        <td class="admin-posts-review-form align-middle" colspan="7">
                            <form method="post">
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <div class="row">
                                    <div class="form-group col">
                                        <select name="reviewer" class="form-control">
                                            {% for reviewer in reviewers %}

                                                {% if reviewer.id not in post.reviewers|keys %}
                                                    <option value="{{ reviewer.id }}">{{ reviewer.name }} {{ reviewer.surname }}</option>
                                                {% endif %}

                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary col" type="submit" name="add_review">Přidat
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </td>
                        {% if post.ratings|length == 0 %}
                            <td class="align-middle text-center" rowspan="{{ post.ratings|length + add_line }}">
                                <div class="mb-2">
                                    <button class="btn btn-disabled" disabled>Přijmout</button>
                                </div>
                                <div>
                                    <a class="btn btn-danger"
                                       href="{{ path('reject_review', {'post': post.id}) }}">Odmítnout</a>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}

                </tbody>
            {% endfor %}
        </table>

        <h2 class="mb-4">Publikované</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Název</th>
                <th class="text-center" scope="col">Hodnocení</th>
                <th scope="col">Posoudit</th>
            </tr>
            </thead>
            <tbody>
            {% for post in published %}
                <tr>
                    <td><a href="{{ path('posts_detail', {'id':post.id}) }}">{{ post.title }}</a></td>
                    <td class="text-center">{{ post.totalRating|round(2) }}</td>
                    <td><a onclick="return confirm('Příspěvek bude odstraněn z veřejné části, orpavdu pokračovat?');"
                           href="{{ path('review_again', {'post' : post.id}) }}">Posoudit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2 class="mb-4">Odmítnuté</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Název</th>
                <th class="text-center" scope="col">Hodnocení</th>
                <th scope="col">Posoudit</th>
            </tr>
            </thead>
            <tbody>
            {% for post in rejected %}
                <tr>
                    <td><a href="{{ path('posts_detail', {'id':post.id}) }}">{{ post.title }}</a></td>
                    <td class="text-center">{{ post.totalRating|round(2) }}</td>
                    <td><a href="{{ path('review_again', {'post' : post.id}) }}">Posoudit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}