{% extends 'base.html.twig' %}
{% block title %}Úprava uživatele{% endblock %}
{% block content %}
    <div class="title">
        <div class="container pt-2">
            <h1>Upravit uživatele - {{ user.username }}</h1>
        </div>
    </div>
    <div class="container">
        <div>
            <div>
                <b>Jméno a přijmení:</b> {{ user.name }} {{ user.surname }}
            </div>
            <div>
                <b>Email:</b> {{ user.email }}
            </div>
            <div>
                <b>Mobil:</b> {{ user.number }}
            </div>
            <div>
                <b>Organizace:</b> {{ user.organization }}
            </div>
        </div>

        <p class="mt-4">Role:</p>
        <form method="post">
            <div class="ml-4">
                <input class="form-check-input" type="checkbox" {% if user.author == 1 %}checked{% endif %} id="author"
                       name="author">
                <label class="form-check-label" for="author">
                    Autor
                </label>
            </div>
            <div class="ml-4">
                <input class="form-check-input" type="checkbox" {% if user.reviewer == 1 %}checked{% endif %} id="reviewer"
                       name="reviewer">
                <label class="form-check-label" for="reviewer">
                    Recenzent
                </label>
            </div>
            <div class="ml-4">
                <input class="form-check-input" type="checkbox" {% if user.admin == 1 %}checked{% endif %} id="admin"
                       name="admin">
                <label class="form-check-label" for="admin">
                    Admin
                </label>
            </div>
            <input type="submit" name="save" class="btn btn-primary mt-3 mr-2" value="Uložit">
            <input onclick="return confirm('Opravdu chcete uživatele {% if user.active == 1 %}zablokovat{% else %}odblokovat{% endif %}');" type="submit" name="block" class="btn btn-warning mt-3 mr-2" value="{% if user.active == 1 %}Blokovat{% else %}Odblokovat{% endif %}">
            <input onclick="return confirm('Opravdu chcete uživatele smazat?');" type="submit" name="delete" class="btn btn-danger mt-3" value="Smazat uživatele">
        </form>
    </div>
{% endblock %}