{% extends 'base.html.twig' %}
{% block title %}Moje příspěvky{% endblock %}
{% block content %}
    <div class="title">
        <div class="container pt-2">
            <h1>Moje příspěvky</h1>
        </div>
    </div>

    <div class="container">
        <a class="btn btn-success" href="{{ path('new_post') }}">Nový příspěvek</a>

        <table class="table table-striped mt-4" id="my-posts-table">
            <thead>
            <tr>
                <th scope="col">Název</th>
                <th class="my-posts-col-change" scope="col">Poslední změna</th>
                <th class="my-posts-col-state-1" scope="col">Stav</th>
                <th class="my-posts-col-state-2" scope="col">Stav</th>
                <th class="text-center" scope="col">Upravit</th>
                <th class="text-center" scope="col">Smazat</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}

                {% if post.state == 0 %}
                    {% set state = "Ve schvalovacím řízení" %}
                {% elseif post.state == 1 %}
                    {% set state = "Přijat, publikován" %}
                {% else %}
                    {% set state = "Odmítnut" %}
                {% endif %}
                <tr>
                    <td><a href="{{ path('posts_detail', {'id':post.id}) }}">{{ post.title }}</a></td>
                    <td class="my-posts-col-change">{{ post.edit|date("d.m.Y H:i:s") }}</td>
                    <td class="my-posts-col-state-1">
                        {% if post.state == 0 %} <i class="far fa-clock text-warning mr-2"></i> {% endif %}
                        {% if post.state == 1 %} <i class="fas fa-check text-success mr-2"></i> {% endif %}
                        {% if post.state == -1 %} <i class="fas fa-times text-danger mr-2"></i> {% endif %}
                        {{ state }} {% if post.state != 0 %}{{ '(' ~ post.totalRating|round(2) ~ ')' }}{% endif %}</td>
                    <td class="my-posts-col-state-2">
                        {% if post.state == 0 %} <i class="far fa-clock text-warning mr-2"></i> {% endif %}
                        {% if post.state == 1 %} <i class="fas fa-check text-success mr-2"></i> {% endif %}
                        {% if post.state == -1 %} <i class="fas fa-times text-danger mr-2"></i> {% endif %}</td>
                    <td class="text-center">{% if post.state != 1 %}<a href="{{ path('edit_post', {'id' : post.id}) }}">
                                <i
                                        class="fas fa-pen"></i></a>{% else %}<i
                                class="fas fa-times text-muted"></i>{% endif %}</td>
                    <td class="text-center">{% if post.state != 1 %}<a
                            onclick="return confirm('Opravdu chcete příspěvek smazat?');"
                            href="{{ path('delete_post', {'id' : post.id}) }}">
                                <i class="fas fa-trash-alt text-danger"></i></a>{% else %}<i
                                class="fas fa-times text-muted"></i>{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}