{% extends 'base.html.twig' %}
{% block title %}Nový příspěvek{% endblock %}
{% block content %}
    <div class="title">
        <div class="container pt-2">
            <h1>Nový příspěvek</h1>
        </div>
    </div>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Název příspěvku</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Název příspěvku" required
                       value="{{ title }}">
            </div>
            <div class="form-group">
                <label for="authors">Autoři</label>
                <input type="text" class="form-control" name="authors" id="authors" placeholder="Autoři" required
                       value="{{ authors }}">
            </div>
            <div class="form-group">
                <label for="file">Soubor (pdf)</label>
                <input type="file" class="form-control" name="file" id="file" required>
            </div>
            <div class="form-group">
                <label for="abstract">Abstract</label>
                <textarea id="abstract" class="form-control" placeholder="Abstract"
                          name="abstract">{{ abstract }}</textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Odeslat">
        </form>
    </div>
{% endblock %}


{% block other_js %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script src="{{ res_js }}/post_wysiwig.js"></script>
{% endblock %}