{% extends 'base.html.twig' %}
{% block title %}Posouzení příspěvku{% endblock %}
{% block content %}
    <div class="title">
        <div class="container pt-2">
            <h1>Posouzení příspěvku</h1>
        </div>
    </div>
    <div id="review-container" class="container">
        <div id="review-post">
            <div><b>Název:</b> {{ post.title }}</div>
            <div><b>Autoři:</b> {{ post.authors }}</div>
            <div><b>Pdf příoha: </b> <a href="{{ res_upload ~ '/'  ~  post.file }}">stáhnout</a></div>
            <div><b>Abstract:</b></div>
            <div>{{ post.abstract|raw }}</div>
        </div>
        <div id="review-review">
            <div>
                <form method="post">
                    {% for key,type in rating_types %}
                        <div class="form-group">
                            <label for="{{ key }}">{{ type.title }}:</label>
                            <select required id="{{ key }}" class="form-control" name="{{ key }}">
                                <option disabled {% if value.id is null %}selected{% endif %}></option>
                                {% for value in type.values %}
                                    <option value="{{ value.id }}"
                                            {% if value.id == attribute(post.ratings[0], key) %}selected{% endif %}>{{ value.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <label for="message">Poznámky:</label>
                        <textarea class="form-control" id="message"
                                  name="message">{{ post.ratings[0].comment }}</textarea>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Uložit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}