{% extends 'base.html.twig' %}
{% block title %}Nastavení{% endblock %}
{% block content %}
    <div class="title">
        <div class="container pt-2">
            <h1>Nastavení</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Obecné informace</p>
                <form method="post">
                    <div class="form-group">
                        <input disabled type="text" class="form-control" name="name" id="name" placeholder="Jméno" value="{{ app.user.name }}">
                    </div>
                    <div class="form-group">
                        <input disabled type="text" class="form-control" name="surname" id="surname" placeholder="Přijmení"
                               value="{{ app.user.surname }}">
                    </div>
                    <div class="form-group">
                        <input disabled type="text" class="form-control" name="user_name" id="user_name" placeholder="Uživatelské jméno"
                               value="{{ app.user.username }}">
                    </div>
                    <div class="form-group">
                        <input disabled type="text" class="form-control" name="email" id="email" placeholder="Email" value="{{ app.user.email }}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Mobil" value="{{ app.user.number }}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="organ" id="organ" placeholder="Organizace" value="{{ app.user.organization }}">
                    </div>
                    <input class="btn btn-primary" type="submit" name="save" value="Uložit">
                </form>
            </div>
            <div class="col-md-6">
                <p>Změna hesla</p>
                <form method="post">
                    <div class="form-group">
                        <input type="password" class="form-control" name="pass" id="pass" placeholder="Heslo" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="pass2" id="pass2" placeholder="Heslo znovu" required>
                    </div>
                    <input class="btn btn-primary" type="submit" name="change_pass" value="Změnit heslo">
                </form>
            </div>
        </div>
    </div>
{% endblock %}