{% extends 'base.html.twig' %}
{% block title %}K posouzení{% endblock %}
{% block content %}
    <div class="title">
        <div class="container pt-2">
            <h1>K posouzení</h1>
        </div>
    </div>
    <div class="container">
        <h2 class="mb-3 mt-4">Příspěvky k posouzení</h2>
        {% if to_review is not empty %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Název</th>
                    <th class="text-center">Posouzeno</th>
                </tr>
                </thead>
                <tbody>
                {% for post in to_review %}
                    <tr>
                        <td><a href="{{ path('review', {'id':post.id}) }}">{{ post.title }}</a></td>
                        <td class="text-center">{% if post.ratings[0].rated is null %}<i
                                    class="fas fa-times"></i>{% else %}<i class="fas fa-check"></i>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Žádné příspěvky k posouzení</p>
        {% endif %}
        {% if reviewed is not empty %}
            <h2 class="mb-3 mt-5">Posouzené a publikované příspěvky</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Název</th>
                    <th class="text-center">Mé hodnocení</th>
                    <th class="text-center">Průměrné hodnocení</th>
                </tr>
                </thead>
                <tbody>
                {% for post in reviewed %}
                    <tr>
                        <td><a href="{{ path('posts_detail', {'id':post.id}) }}">{{ post.title }}</a></td>
                        <td class="text-center">{{ post.ratings[0].myAverage|round(2) }}</td>
                        <td class="text-center">{{ post.ratings[0].totalAverage|round(2) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}