{% extends 'base.html.twig' %}
{% block title %}Správa uživatelů{% endblock %}
{% block content %}
    <div class="title">
        <div class="container pt-2">
            <h1>Uživatelé</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-striped" id="admin-users-table">
                <thead>
                <tr>
                    <th scope="col">Jméno</th>
                    <th scope="col">Email</th>
                    <th class="text-center admin-users-col-role" scope="col">Autor</th>
                    <th class="text-center admin-users-col-role" scope="col">Recenzent</th>
                    <th class="text-center admin-users-col-role" scope="col">Admin</th>
                    <th class="text-center" scope="col">Upravit</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{% if user == app.user %}
                                <b>{{ user.name }} {{ user.surname }}</b>{% else %}{{ user.name }} {{ user.surname }}{% endif %}
                            {% if user.active == 0 %}<i style="color: red" class="fas fa-ban"></i>{% endif %}
                        </td>
                        <!-- <td>{{ post.edit|date("d.m.Y H:i:s") }}</td> -->
                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                        <td class="text-center admin-users-col-role">{% if user.author == 1 %}<i class="fas fa-check"></i>{% else %} <i
                                    class="fas fa-times"></i>{% endif %}</td>
                        <td class="text-center admin-users-col-role">{% if user.reviewer == 1 %}<i class="fas fa-check"></i>{% else %} <i
                                    class="fas fa-times"></i>{% endif %}</td>
                        <td class="text-center admin-users-col-role">{% if user.admin == 1 %}<i class="fas fa-check"></i>{% else %} <i
                                    class="fas fa-times"></i>{% endif %}</td>
                        <td class="text-center"><a href="{{ path('edit_user', {'id' : user.id}) }}"><i
                                        class="fas fa-pen"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}