.comments {
  margin-top: 70px;

  .comments-item {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 12px;
    &:hover {
      background: #e9e9e9;
    }

    span {
      &:nth-child(1) {
        font-weight: bold;
        font-size: 17px;
      }
      &:nth-child(2) {
        font-style: italic;
        font-size: 13px;
        float: right;
      }
    }
  }
}