#my-posts-table {

  .my-posts-col-state-1 {
    display: table-cell;
  }
  .my-posts-col-state-2 {
    display: none;
  }

  @media (max-width: 600px) {
    .my-posts-col-change {
      display: none;
    }

    .my-posts-col-state-1 {
      display: none;
    }
    .my-posts-col-state-2 {
      display: table-cell;
    }

  }
}