#review-container {

  #review-post {
    background: #f7f7f7;
    -webkit-box-shadow: 0 0 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 13px -1px rgba(0,0,0,0.75);
    box-shadow: 0 0 13px -1px rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
  }

  #review-review {
    background: #f7f7f7;
    -webkit-box-shadow: 0 0 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 13px -1px rgba(0,0,0,0.75);
    box-shadow: 0 0 13px -1px rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 5px;
  }

}