$footer_height: 120px;
$bg_light: #f8f8f8;
$bg_dark: #eaeaea;

html, body {
  background-color: $bg_light;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 4rem 0 0;
  height: 100%;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  padding: 0 0 $footer_height;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer_height;
  background: #d1d1d1;
  text-align: center;
}

nav {
  background: #ba2574;
  background: -moz-linear-gradient(left, #ba2574 0%, #d63b4b 100%);
  background: -webkit-linear-gradient(left, #ba2574 0%, #d63b4b 100%);
  background: linear-gradient(to right, #ba2574 0%, #d63b4b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba2574', endColorstr='#d63b4b', GradientType=1);
  -webkit-box-shadow: 0px -1px 23px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 23px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 23px -2px rgba(0, 0, 0, 0.75);

  .navbar-brand {
    color: #fff;
    font-size: 20px;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-collapse {
    #nav-center {
      margin: 0 auto;
      padding-right: 100px;
      a {
        color: #fff;
        &:hover {
          color: rgba(193, 193, 193, 0.73);
        }
      }
    }
    @media (min-width: 992px) {
      #nav-right {
        position: absolute;
        right: 0;
      }
    }
    #nav-right {
      position: relative;
      a {
        color: #e9e9e9;
        &:hover {
          color: rgba(193, 193, 193, 0.73);
        }
      }
      .dropdown-menu {
        right: 0;
        left: auto;
        a {
          color: #000;
        }
      }
    }
  }
}

footer {
  padding: 12px;
  background: $bg_dark;
  .row {
    text-align: center;
    a {
      color: #ba2574;
    }
  }
  #footer-footer {
    border-top: 1px solid rgba(177, 177, 177, 0.6);
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

textarea {
  min-height: 80px;
}

.title {
  background: $bg_light;
  padding: 20px;
}

.block-dark {
  background: $bg_dark;
}

.block-light {
  background: $bg_light;
}

#hp-new-posts {
  h2 {
    color: #999999;
    margin-bottom: 15px;
  }
  .hp-new-post-title {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 25px;
  }
}

.posts-list-title {
  color: #a7a7a7;
  text-decoration: none;
  font-size: 25px;
}

.posts-list-date {
  color: #a7a7a7;
  font-size: 12px;
  font-style: italic;
}

.table-no-c {
  background: 0 !important;
  tr {
    background: 0 !important; // rgba(255, 255, 255, 0) !important;
  }

  tbody {
    &:nth-child(odd) {
      background: rgba(0, 0, 0, .05);
    }
  }
}

@import "comments", "review", "my_posts", "admin_posts", "admin_users";