{% extends 'base.html.twig' %}
{% block title %}O konferenci{% endblock %}
{% block content %}
    <div class="title">
        <div class="container pt-2">
            <h1>O konferenci</h1>
        </div>
    </div>
    <div class="block-light pt-3">
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget tortor sem. Integer in sapien augue.
                Nulla at nisl ultricies massa semper aliquam et vitae neque. Sed dictum a leo quis pharetra. Curabitur
                venenatis mauris a eros hendrerit consectetur. Aliquam accumsan nisl quis mollis porta. Fusce aliquam,
                mauris eu feugiat sodales, ante leo varius erat, non tempor orci dolor non orci. In suscipit turpis eget
                nisl mollis volutpat. Maecenas ut elit in nunc rhoncus suscipit. Vivamus facilisis nisl vel dui maximus
                hendrerit.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget tortor sem. Integer in sapien augue.
                Nulla at nisl ultricies massa semper aliquam et vitae neque. Sed dictum a leo quis pharetra. Curabitur
                venenatis mauris a eros hendrerit consectetur. Aliquam accumsan nisl quis mollis porta. Fusce aliquam,
                mauris eu feugiat sodales, ante leo varius erat, non tempor orci dolor non orci. In suscipit turpis eget
                nisl mollis volutpat. Maecenas ut elit in nunc rhoncus suscipit. Vivamus facilisis nisl vel dui maximus
                hendrerit.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget tortor sem. Integer in sapien augue.
                Nulla at nisl ultricies massa semper aliquam et vitae neque. Sed dictum a leo quis pharetra. Curabitur
                venenatis mauris a eros hendrerit consectetur. Aliquam accumsan nisl quis mollis porta. Fusce aliquam,
                mauris eu feugiat sodales, ante leo varius erat, non tempor orci dolor non orci. In suscipit turpis eget
                nisl mollis volutpat. Maecenas ut elit in nunc rhoncus suscipit. Vivamus facilisis nisl vel dui maximus
                hendrerit.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget tortor sem. Integer in sapien augue.
                Nulla at nisl ultricies massa semper aliquam et vitae neque. Sed dictum a leo quis pharetra. Curabitur
                venenatis mauris a eros hendrerit consectetur. Aliquam accumsan nisl quis mollis porta. Fusce aliquam,
                mauris eu feugiat sodales, ante leo varius erat, non tempor orci dolor non orci. In suscipit turpis eget
                nisl mollis volutpat. Maecenas ut elit in nunc rhoncus suscipit. Vivamus facilisis nisl vel dui maximus
                hendrerit.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget tortor sem. Integer in sapien augue.
                Nulla at nisl ultricies massa semper aliquam et vitae neque. Sed dictum a leo quis pharetra. Curabitur
                venenatis mauris a eros hendrerit consectetur. Aliquam accumsan nisl quis mollis porta. Fusce aliquam,
                mauris eu feugiat sodales, ante leo varius erat, non tempor orci dolor non orci. In suscipit turpis eget
                nisl mollis volutpat. Maecenas ut elit in nunc rhoncus suscipit. Vivamus facilisis nisl vel dui maximus
                hendrerit.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget tortor sem. Integer in sapien augue.
                Nulla at nisl ultricies massa semper aliquam et vitae neque. Sed dictum a leo quis pharetra. Curabitur
                venenatis mauris a eros hendrerit consectetur. Aliquam accumsan nisl quis mollis porta. Fusce aliquam,
                mauris eu feugiat sodales, ante leo varius erat, non tempor orci dolor non orci. In suscipit turpis eget
                nisl mollis volutpat. Maecenas ut elit in nunc rhoncus suscipit. Vivamus facilisis nisl vel dui maximus
                hendrerit.
            </p>
        </div>
    </div>
{% endblock %}