{% extends 'base.html.twig' %}
{% block title %}Conf{% endblock %}
{% block content %}
    <div id="hp-title" class="title">
        <div class="container">
            <h1>Vítejte</h1>
        </div>
    </div>
    <div class="block-light pb-3">
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget tortor sem. Integer in sapien augue.
                Nulla at nisl ultricies massa semper aliquam et vitae neque. Sed dictum a leo quis pharetra. Curabitur
                venenatis mauris a eros hendrerit consectetur. Aliquam accumsan nisl quis mollis porta. Fusce aliquam,
                mauris eu feugiat sodales, ante leo varius erat, non tempor orci dolor non orci. In suscipit turpis eget
                nisl mollis volutpat. Maecenas ut elit in nunc rhoncus suscipit. Vivamus facilisis nisl vel dui maximus
                hendrerit.
            </p>
        </div>
    </div>
    <div id="hp-new-posts" class="block-dark p-4">
        <div class="container">
            <h2>Nové příspěvky</h2>
            <div class="row">
                {% for post in new_posts %}
                    <div class="col-md-4">
                        <a class="hp-new-post-title"
                           href="{{ path('posts_detail', {'id': post.id}) }}">{{ post.title }}</a>
                        <p>{{ strip_tags(post.abstract)[:300] }}...</p>
                        <p><a class="btn btn-secondary" href="{{ path('posts_detail', {'id': post.id}) }}"
                              role="button">Zobrazit více &raquo;</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}