{% extends 'base.html.twig' %}
{% block title %}Přihlášení{% endblock %}
{% block content %}
    <div class="title">
        <div class="container">
            <h1>Přihlášení</h1>
        </div>
    </div>
    <div class="block-light pt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="text-danger mb-3" id="login-message"></p>
                    <form method="post" id="login-form">
                        <input type="hidden" value="{{ path('ajax_login') }}" id="login_url">
                        <input type="hidden" value="{{ path('home') }}" id="login_redirect">
                        <div class="form-group">
                            <label for="name">Uživatelské jméno</label>
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Uživatelské jméno">
                        </div>
                        <div class="form-group">
                            <label for="pass">Heslo</label>
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="Heslo">
                        </div>
                        <button type="submit" class="btn btn-primary">Přihlásit</button>
                    </form>
                    <p class="mt-2">
                        Nemáte účet? <a href="{{ path('registration') }}">Registrujte se</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block other_js %}
    <script src="{{ res_js }}/login.js"></script>
{% endblock %}
