{% extends 'base.html.twig' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div class="title">
        <div class="container pt-2">
            <h1>{{ post.title }}</h1>
            <span><i>{{ post.approved|date('d.m.Y') }}</i></span>
        </div>
    </div>
    <div class="container">
        <div><b>Autoři:</b> {{ post.authors }}</div>
        <div><b>Pdf příoha: </b><a href="{{ res_upload ~ '/'  ~  post.file }}"> stáhnout</a></div>
        <div class="mt-3">{{ post.abstract|raw }}</div>
        <div class="mt-3">
            <h2 class="mt-4 mb-3">Komentáře</h2>
            {% if app.user %}
                <form method="post">
                    <div class="form-group">
                        <textarea rows="2" class="form-control" required name="message"
                                  placeholder="Zadejte text komentáře"></textarea>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary float-right" value="Odeslat">
                    </div>
                </form>
            {% endif %}
            <div class="comments">
                {% for comment in comments %}
                    <div class="comments-item">
                        <div class="comments-item-title">
                            <span>{{ comment.author.username }}</span>
                            <span>{{ comment.created|date('d.m.Y H:i:s') }}</span>
                        </div>
                        <div class="comments-item-message">
                            {{ comment.message }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}