{% extends 'base.html.twig' %}
{% block title %}Příspěvky{% endblock %}
{% block content %}
   <div class="title">
      <div class="container">
         <h1>Příspěvky</h1>
      </div>
   </div>
   <div class="block-light p-4">
      <div class="container">
         <div class="row">
             {% for post in posts %}
                <div class="col-md-12">
                   <a class="posts-list-title"
                      href="{{ path('posts_detail', {'id': post.id}) }}">{{ post.title }}</a>
                   <span class="posts-list-date ml-2">{{ post.approved|date("d.m.Y") }}</span>
                   <p>{{ strip_tags(post.abstract)[:400] ~ '...' }}</p>
                   <p><a class="btn btn-secondary" href="{{ path('posts_detail', {'id': post.id}) }}"
                         role="button">Zobrazit více &raquo;</a></p>
                </div>
             {% endfor %}
         </div>
      </div>
   </div>
{% endblock %}