{% extends 'base.html.twig' %}
{% block title %}Registrace{% endblock %}
{% block content %}
    <div class="title">
        <div class="container">
            <h1 class="text-center">Registrace</h1>
        </div>
    </div>
    <div class="block-light pt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form method="post" class="text-center">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Jméno" required
                                   value="{{ name }}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="surname" id="surname" placeholder="Přijmení" required
                                   value="{{ surname }}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="user_name" id="user_name" required
                                   placeholder="Uživatelské jméno" value="{{ user_name }}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="pass" id="pass" required placeholder="Heslo">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="pass2" id="pass2"
                                   placeholder="Heslo znovu" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" id="email" placeholder="Email" required
                                   value="{{ email }}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Mobil"
                                   value="{{ phone }}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="organ" id="organ" placeholder="Organizace"
                                   value="{{ organ }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Registrovat</button>

                    </form>
                    <p class="mt-2 text-center">
                        Máte účet? <a href="{{ path('login') }}">Přihlaste se</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}