{% extends 'base.html.twig' %}
{% block title %}Error {{ code }}{% endblock %}
{% block content %}
    <div class="title">
        <div class="container pt-2">
            <h1>Error {{ code }}</h1>
        </div>
    </div>
{% endblock %}